.pagination-wrapper {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-active {
  cursor: pointer;
}

.btn-disabled {
  cursor: auto;
  opacity: 0.7;
}

.light .btn-active {
  background-color: var(--btn-active-bg);
  color: var(--btn-active-txt);
}

.light .btn-disabled {
  background-color: var(--btn-disabled-bg);
  color: var(--btn-disabled-txt);
}

.dark .btn-active {
  background-color: var(--btn-active-bg);
  color: var(--btn-active-txt);
}

.dark .btn-disabled {
  background-color: var(--btn-disabled-bg);
  color: var(--btn-disabled-txt);
}
