.table-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
  padding: 1rem;
}

.header-row,
.row {
  display: flex;
}

.cell {
  flex: 1;
  padding: 8px;
  border-bottom: 1px solid grey;
  border-top: 1px solid grey;
  text-align: left;
  transition: background-color 1.5s ease;
}

.header-row .cell {
  font-weight: bold;
  border-bottom: 2px solid #333;
}

.row:nth-child(even) {
  background-color: #ccccff;
}

.country {
  font-weight: bold;
  color: #373748;
}
.highlight {
  background-color: #fbffba;
}
