.save-button.light {
  background-color: #9f7aea;
  color: white;
}

.save-button.light:hover {
  background-color: #7c3aed;
  box-shadow: 0 0 12px rgba(124, 58, 237, 0.8);
}

.save-button.dark {
  background-color: #6b46c1;
  color: white;
}

.save-button.dark:hover {
  background-color: #553c9a;
  box-shadow: 0 0 12px rgba(85, 60, 154, 0.9);
}
