* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: touch;
}
html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  cursor: pointer;
  background-color: lightgray;
  border: lightgray 1px solid;
  padding: 1rem;
  transition: 0.3s;
}

button:hover {
  border: blue 1px solid;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form {
  display: flex;
  flex-direction: column;
}
.error {
  height: 2rem;
  color: #2e3036;
}
